<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="/"><button>Obecność</button></a>
            <a href="/list_students"><button>Lista uczniów</button></a>
            <a href="/new_student"><button>Dodaj ucznia</button></a>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
