{% extends 'base.html.twig' %}

{% block body %}
    {% for student in students %}
        <div>
            {{ student.name }} {{ student.secondname }} Stan:
            {% for pre in presence %}
                {% if pre.student == student %}
                {{ pre.status }}
                {% endif %}
            {% endfor %}
            <a href="/add/{{student.id}}"><button>Obecny</button></a> <button>Spóźniony</button> <button>Nie obecny</button>
        </div>
    {% endfor %}
{% endblock %}