{% extends 'base.html.twig' %}
{% block title %}
Lista uczniów
{% endblock %}
{% block body %}
    {% for student in students %}
        <div>
            <a href="/student/{{ student.id }}"> {{ student.name }} {{ student.secondname}} </a> <a href="/delete_student/{{ student.id }}"><button>Usuń</button></a>
        </div>
    {% endfor %}
{% endblock %}