{% extends 'base.html.twig' %}

{% block title %} Uczeń: {{ secondname }} {% endblock %}

{% block body %}
<h1>Uczeń: {{ name }} {{ secondname }}</h1>

    <div>
        {% for presences in presence %}
    </div>

{% endblock %}